
extends layout

block content	

	<!--Navbar Content-->
	.navbar.navbar-default
		.container-fluid
			.navbar-header
				a(class='navbar-brand', href='/')
					img(alt='Home', src='/images/logo.png' class='img-rounded' width='50' height='50')
			.nav.navbar-nav.navbar-right
				a.button.btn.btn-default(class='navbar-btn', href='/login') 
					i.glyphicon.glyphicon-log-in  
					span  Admin

	h1.lead.empty You have answered all of the questions. Please come back later!