extends layout

block content
	div.content
		.row
			.col-md-6
				h2.lead Edit Question
				form(method='post', action='/questions/'+ question.id)
					.form-group
						textarea.input-lg(name='question', id='question', class='form-control', rows='3', required)=question.question
					button.btn.btn-primary.btn-block Save
					a.btn.btn-link.btn-block(href='/questions') Cancel
				h2.lead Add a Choice	
				form(method='post', action= question.id+'/choices/add')
					.input-group
						input.form-control(type='text', name='choice', placeholder='Enter a choice', required)
						span.input-group-btn
							button.btn.btn-success(type='submit')
								i.glyphicon.glyphicon-check
			.col-md-6
				h2.lead Edit Choices
				ul.list-group 
					each choice in question.Choices 
						li.list-group-item
							form(method='post', action='/questions/' + question.id + '/choices/' + choice.id)
								.row
									.col-xs-6
										input.form-control(type='text', name='choice', id='choice_'+choice.id, value=choice.choice, required)
									.col-xs-3
										button.btn.btn-success.btn-block(type='submit', alt='Save') 
											i.glyphicon.glyphicon-check
									.col-xs-3
										a.btn.btn-danger.btn-block(href='/questions/' + question.id + '/choices/' + choice.id + '/delete')
											i.glyphicon.glyphicon-trash
		.row
			.col-md-6
				p
					br
					a.button.btn.btn-primary(href='/questions/') Back to questions

