extends layout

block content

    <!--Navbar Content-->
    .navbar.navbar-default
        .container-fluid
            .navbar-header
                a(class='navbar-brand', href='/')
                    img(alt='Home', src='/images/logo.png' class='img-rounded' width='50' height='50')
            .nav.navbar-nav.navbar-right
                a.button.btn.btn-default(class='navbar-btn', href='/logout') 
                    i.glyphicon.glyphicon-log-out  
                    span  Sign out
    legend Make a Survey

    .form-group
        form(method='post', action='/add-question', role="form")
            .col-md-8
                .input-group
                    input.form-control(type='text', name='question', placeholder='Enter a question', required) 
                    span.input-group-btn   
                        button.btn.btn-primary(type='submit') Create a Question
                p
                    br
    legend Manage Questions
    each q in questions
        .col-md-4
            a(href='/questions/' + q.id) #{q.question}
        .btn-toolbar
            .col-md-8
            a.btn.btn-primary.singlebutton(href='/questions/'+q.id)
                i.glyphicon.glyphicon-pencil
                span  Edit

            a.btn.btn-success.singlebutton(href='/questions/'+q.id+'/results')
                i.glyphicon.glyphicon-stats
                span  Results