extends layout

block content
	legend Viewing Results for #{question.question}
	.col-md-4
		table.table.table-striped
			tr 
				td 
					b Choice
				td 
					b Votes

			each choice in choices
				tr
					td  #{choice.choice}
					td  #{choice.totalVotes}